@import "tailwindcss";
@theme {
  --font-rubik: "Rubik", sans-serif;
  --color-brand: #102950;
  --color-secondary: #ffbe00;
  --color-foreground: #097bed;
  --color-light-blue: #00bff3;
  --color-original-purple: #6c27b3;
}
