@import "tailwindcss";

@layer components {
  .animation1 {
    animation: animate2 infinite 2s ease-in;
  }
  .font1 {
    font-family: "Arial Rounded MT";
  }
  @keyframes animate2 {
    0% {
      background-color: blue;
    }
    60% {
      background-color: rgb(0, 0, 160);
    }
    100% {
      background-color: blue;
    }
  }
  .done {
    text-decoration: line-through;
    text-decoration-thickness: 4px;
  }
}
